<div class="page-container">
  <mat-card appearance="outlined" class="card">
    <mat-card-header class="header">
      <h4>Add New Book</h4>
    </mat-card-header>

    <p class="text">Title*</p>
    <mat-form-field appearance="outline" class="input">
      <mat-label></mat-label>
      <input matInput placeholder="Search by title or author...">
    </mat-form-field>

    <p class="text">Author*</p>
    <mat-form-field appearance="outline" class="input">
      <mat-label></mat-label>
      <input matInput placeholder="Search by title or author...">
    </mat-form-field>

    <p class="text">Publishing Year(Optional)</p>
    <mat-form-field appearance="outline" class="input">
      <mat-label></mat-label>
      <input matInput placeholder="Search by title or author...">
    </mat-form-field>

    <p class="text">ISBN(Optional)</p>
    <mat-form-field appearance="outline" class="input">
      <mat-label></mat-label>
      <input matInput placeholder="Search by title or author...">
    </mat-form-field>
    <div class="button_div">
      <button matFab extended class="cancel_button">
        Cancel
      </button>

      <button matFab extended class="save_button">
        Save Book
      </button>
    </div>
  </mat-card>
</div>
