name: CI

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Backend/MyBooks
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
      - name: Build and Test Backend
        run: ./gradlew clean test
